@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Lora&display=swap');

/* 
beige #F0EAD2
vert clair #DDE5B6
vert #ADC178
marron #A98467
marron foncé #6C584C
*/

* {
  background-color: #F0EAD2;
   font-family: 'Lora', serif;
}


/* barre de nav */
header {
  background-color: #A98467;
  display: flex;
  width: 80em;
  margin: 0 auto 2em auto;
  padding: 0;
}

header img {
  height: 5em;
  background-color: #A98467;
}

#menu {
  display: flex;
  width: 100%;
  align-items: stretch;
  border-left: 1px solid #dde5b6;
  background-color: #A98467;
  color: #F0EAD2;
}

header h1 {
  background-color: #A98467;
  border-right: 1px solid #dde5b6;
  font-family: 'Cinzel Decorative', serif;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 0.5em;
  flex: 4;

}

header #menu a {
  flex: 1;
  text-align: center;
  padding-top: 1em;
  border-right: 1px solid #dde5b6;
  background-color: #A98467;
  color: #F0EAD2;
  font-size: 20px;
  text-decoration: none;
}

header #menu a:hover {
  background-color: #6C584C;
  color: white;
}

header ul {
  list-style: none;
}


/* titres */
h2 {
  font-family: "Cairo Play", sans-serif;
  text-align: center;
  padding-top: 0.5em;
  flex: 4;
}

h3 {
  text-align: center;
}

/* bouton supprimer */
.btn-suppr {
  background-color: transparent;
  position: relative;
  border: none;
}

.btn-suppr::after {
  content: "supprimer";
  position: absolute;
  top: -130%;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  height: fit-content;
  background-color: rgb(168, 7, 7);
  padding: 4px 8px;
  border-radius: 5px;
  transition: 0.2s linear;
  transition-delay: 0.2s;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
}

.icon-suppr {
  transform: scale(1.2);
  transition: 0.2s linear;
}

.btn-suppr:hover > .icon-suppr {
  transform: scale(1.5);
}

.btn-suppr:hover > .icon-suppr path {
  fill: rgb(168, 7, 7);
}

.btn-suppr:hover::after {
  visibility: visible;
  opacity: 1;
  top: -160%;
}

/* bouton editer */
.edit-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
}

.edit-svgIcon {
  width: 17px;
  transition-duration: 0.3s;
}

.edit-svgIcon path {
  fill: white;
}

.edit-button:hover {
  width: 120px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.edit-button:hover .edit-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.edit-button::before {
  display: none;
  content: "Edit";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.edit-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}

/* bouton acheter */
.button-achat {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #6c584c;
  outline: 3px #6c584c solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

.button-achat .button-acheter {
  color: white;
  background-color: #6c584c;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
  margin: 0 auto;
}

.button-achat svg path {
  transition: 400ms;
}

.button-achat svg {
  background-color: #6c584c;
}

.button-achat:hover svg {
  background-color: white;
  color: #6c584c;
}

.button-achat:hover {
  background-color: white;
  color: #6c584c;
}

.button-achat:hover .button-acheter {
  background-color: white;
  color: #6c584c;
}

.button-achat:hover svg path {
  fill: #6c584c;
}

/* bouton payer */

.bouton-payer {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
}

.svgIcon {
  width: 16px;
}

.svgIcon path {
  fill: white;
}

.bouton-payer::before {
  width: 130px;
  height: 130px;
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: .3s;
  mix-blend-mode: difference;
}

.bouton-payer:hover::before {
  transition-duration: .3s;
  transform: translate(100%,-50%);
  border-radius: 0;
}

.bouton-payer:active {
  transform: translate(5px,5px);
  transition-duration: .3s;
}

/* login */

#login-form {
  background-color: #DDE5B6;
  padding: 3em;
}

#login-form button {
  background-color: #ADC178;
  border-color: #A98467;
  color:white;
}

/* panier */
@media (min-width: 1025px) {
  .h-custom {
  height: 100vh !important;
  }
  }

#encart-panier {
  background-color: #A98467;
}

#cartes-bancaires {
  display: flex;
  justify-content: space-around;
}

#a-propos {
  background-color: #F0EAD2;
  width: 85%;
  padding: 1em;
  margin: 0 auto;
}

/* page accueil */
#cartes-produits {
  display: flex;
  justify-content: space-around;
}


/* Page Details produits */

.title{
  margin: 20px;
}

.imgSize{
  width: 400px; 
  height: 450px;
  border: solid 1px #6c584c ;
}

.display{
 padding-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

span{
  color:red;
  font-weight: bold;
}

.green{
  background:rgb(153, 197, 153) ;
  width: 100px;
  height: 25px;
  text-align: center;
  padding:auto;
  
}

.red{
  background:red ;
  width: 170px;
  height: 25px;
  text-align: center;
  padding:auto;

}



/* creation compte */
#liste-meubles {
  display: flex;
  justify-content: space-between;
}

.colonne-meubles {
  flex: 1;
  padding: 0 10px;
}
